<div class=" container-top body-margin block-template content-left" style="padding:0;" >
    <div class="title-breadcrumb">
        <ul class="clearfix">
            <li class="font-act">
                <span ui-sref="app" class="cursor">首页</span>
                <span style="margin: 0 6px;">&gt;</span>
            </li>
            
            <li>
                <span>使用攻略</span>
            </li>
        </ul>
    </div>
    <div class="page-content" style="padding:15px;" >
        <div class="portlet portlet-fit">
            <div class="clearfix">
                <div class="float-l" >
                    <div class="title-pic ">
                        <img src="img/new/help1.png" alt="" />
                        <div class="body-on"style="left:58%;">
                            <h4>教师端-易师</h4>
                            <p>移动批改，智能分析，智慧教学。</p>
                        </div>
                    </div>
                </div>
                <div class="float-l" style="margin: 0px 10px;">
                    <div class="title-pic ">
                        <img src="img/new/help2.png" alt="" />
                        <div class="body-on" >
                            <h4>学生端-易全解</h4>
                            <p>拍照交作业，查看作业分析，智能错题本。</p>
                        </div>
                    </div>
                </div>
                <div class="float-l">
                    <div class="title-pic">
                        <img src="img/new/help3.png" alt="" />
                        <div class="body-on">
                            <h4>家长端-易起教</h4>
                            <p>了解学生作业情况，陪伴孩子学习进步。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet block-graytemplate" style="padding-top: 30px !important; position: relative;">
            <div class="title-on" style="background:#ff6161;">老师使用情景</div>
             <div class="lssq">
                <div class="lssq-dw" style="width:80px; height:60px;">
                        <div class="lssq-dw1">
                                <div class="lssq-sz">1</div>
                                <div class="lssq-js1">关注易师微信公众号</div>
                        </div>
                </div>

                <div class="lssq-dw">
                                <div class="lssq-sz">2</div>
                                <div class="lssq-js1">创建班级</div>
                </div>

                <div class="lssq-dw">
                            <div class="lssq-sz">3</div>
                            <div class="lssq-js1">分享班级群号给学生，邀请加入班级</div>
                </div>
    
                <div class="lssq-dw">
                            <div class="lssq-sz">4</div>
                            <div class="lssq-js1">布置作业</div>
                </div>
                <div class="lssq-dw">
                            <div class="lssq-sz">5</div>
                            <div class="lssq-js1">批改作业</div>
                </div>
                    <div class="lssq-dw2">
                            <div class="lssq-sz">6</div>
                            <div class="lssq-js1">学情分析</div>
                </div>
            </div>
            <div class="bannerbox clearfix">
                <!-- 图片列表 -->
                <ul class="clearfix">
                    <li>
                        <img src="img/strategy/w1.png" alt=""></li>
                    <li>
                        <img src="img/strategy/w2.png" alt=""></li>
                    <li>
                        <img src="img/strategy/w3.png" alt=""></li>
                    <li>
                        <img src="img/strategy/w4.png" alt=""></li>
                    <li>
                        <img src="img/strategy/w5.png" alt=""></li>
                    <li>
                        <img src="img/strategy/w6.png" alt=""></li>
                </ul>
                <!-- 左右按钮 -->
                <div class="btn_list">
                    <span class="l">&lt;</span>
                    <span class="r">&gt;</span>
                </div>
            </div>
        </div>
        <div class="portlet block-graytemplate" style="padding-top: 30px !important; position: relative;">
            <div class="title-on" style="background: #3fadf9;">学生使用情景</div>
           <div class="lssq">
                <div class="lssq-dw" style="width:80px; height:60px;">
                        <div class="lssq-dw1">
                                <div class="lssq-sz">1</div>
                                <div class="lssq-js1">注册易全解app</div>
                        </div>
                </div>

                <div class="lssq-dw">
                                <div class="lssq-sz">2</div>
                                <div class="lssq-js1">加入老师指定的班级</div>
                </div>

                <div class="lssq-dw">
                            <div class="lssq-sz">3</div>
                            <div class="lssq-js1">提交老师布置的作业</div>
                </div>
    
                <div class="lssq-dw">
                            <div class="lssq-sz">4</div>
                            <div class="lssq-js1">查看错题，勤加练习</div>
                </div>
                <div class="lssq-dw3"  >
                    <div style="width: 80px; margin-left: 43px; height:25px; position:relative">
                        <div class="lssq-sz2">5</div>
                    </div>
                            <div class="lssq-js1">诊断分析，更加了解自己</div>
                </div>
               
            </div>
            <div class="bannerbox clearfix">
                <!-- 图片列表 -->
                <ul class="clearfix">
                    <li>
                        <img src="img/strategy/a1.png" alt=""></li>
                    <li>
                        <img src="img/strategy/a2.png" alt=""></li>
                    <li>
                        <img src="img/strategy/a3.png" alt=""></li>
                    <li>
                        <img src="img/strategy/a4.png" alt=""></li>
                    <li>
                        <img src="img/strategy/a5.png" alt=""></li>
                </ul>
                <!-- 左右按钮 -->
                <div class="btn_list">
                    <span class="l">&lt;</span>
                    <span class="r">&gt;</span>
                </div>
            </div>
        </div>
        <div class="portlet block-graytemplate" style="padding-top: 30px !important; position: relative;">
            <div class="title-on" style="background: #ff754b">家长使用情景</div>
             <div class="lssq">
                <div class="lssq-dw" style="width:80px; height:60px;">
                        <div class="lssq-dw1">
                                <div class="lssq-sz">1</div>
                                <div class="lssq-js1">关注易起教微信公众号</div>
                        </div>
                </div>

                <div class="lssq-dw">
                                <div class="lssq-sz">2</div>
                                <div class="lssq-js1">绑定孩子的账号</div>
                </div>

                <div class="lssq-dw">
                            <div class="lssq-sz">3</div>
                            <div class="lssq-js1">时刻关注孩子的学情动态</div>
                </div>
    
                <div class="lssq-dw">
                            <div class="lssq-sz">4</div>
                            <div class="lssq-js1">关注孩子的作业情况</div>
                </div>
                <div class="lssq-dw2" >
                    <div style="width: 80px;background: #fff; margin-left: 16px;">
                        <div class="lssq-sz">5</div>
                    </div>
                    <div class="lssq-js1">关注孩子的班级表现</div>
                </div>
            </div>
            <div class="bannerbox clearfix">
                <!-- 图片列表 -->
                <ul class="clearfix">
                    <li>
                        <img src="img/strategy/y1.png" alt=""></li>
                    <li>
                        <img src="img/strategy/y2.png" alt=""></li>
                    <li>
                        <img src="img/strategy/y3.png" alt=""></li>
                    <li>
                        <img src="img/strategy/y4.png" alt=""></li>
                    <li>
                        <img src="img/strategy/y5.png" alt=""></li>
                </ul>
                <!-- 左右按钮 -->
                <div class="btn_list">
                    <span class="l">&lt;</span>
                    <span class="r">&gt;</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var num = 0;
        $('.r').click(function () {debugger
            num++;
            if (num == 4) {
                //$('ul').css('left', 0);
                $(this).parents('.bannerbox').children('ul').css('left', 0);
                num = 0;
            }
            $(this).parents('.bannerbox').children('ul').animate({ 'left': -num * 320 }, 1000);
            //$('ul').animate({ 'left': -num * 360 }, 1000);
            console.log(num);
        });
        $(' .l').click(function () {
            num--;
            if (num == -1) {
                //$('ul').css({ 'left': -1050 });
                $(this).parents('.bannerbox').children('ul').css({ 'left': -1050 });
                num = 4;
            }
            //$('ul').animate({ 'left': -num * 360 }, 1000);
            $(this).parents('.bannerbox').children('ul').animate({ 'left': -num * 320 }, 1000);
            console.log(num);
        })
    });
</script>